<div class="flex min-h-screen w-full flex-col bg-muted">
  <!-- <aside class="fixed inset-y-0 left-0 z-10 hidden w-14 flex-col border-r bg-background sm:flex"> -->
  <!-- </aside> -->
  <main class="p-4 sm:px-6">
    <%= @inner_content %>
  </main>
</div>
